.dropdownfield {
  background-color: #1b1a21;
  padding: 12.5px 15px;
  display: flex;
  align-items: center;
  color: white;
  border-radius: 10px;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}
